.team {
  padding: 100px 0;

  .paragraph-about {
    h3 {
      @include heading_styles;
    }

    p {
      @include paragraph__style;
      font-weight: 700;
    }
  }

  .team-box {
    .img-team {
      overflow: hidden;
      position: relative;

      &:before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: #262626;
        position: absolute;
        top: 100%;
        transition: 0.5s;
      }

      img {
        width: 100%;
        object-fit: cover;
      }
    }


    .name-team {
      @include description-team;

      span {
        @include description-team-span;
      }
    }

    .social-team {
      position: absolute;
      top: 100%;
      transition: 0.5s;
      padding: 0;
      right: calc(50% - 89px);

      li {
        display: inline-block;
        padding: 0 5px;

        a {
          color: $color-first;
          text-align: center;
          display: inline-block;
          font-size: 19px;
          background-color: $color-bg-section-first;
          clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
          line-height: 41px;
          width: 45px;
        }
      }
    }

    &:hover {
      .name-team {
        color: $color-first;

        span {
          color: $color-paragraph;
        }
      }

      .social-team {
        position: absolute;
        top: calc(50% - 20px);
        transition: 0.5s;

      }

      .img-team {
        &:before {
          top: 0;
          transition: 0.5s;
        }
      }
    }
  }

  .separator {
    background-color: #262626;

    &:after {
      background-color: #262626;
    }
  }

  .skills-name {
    @include description-team;
    border: none;
    padding-top: 25px;
    line-height: normal;

    span {
      padding-top: 25px;
      @include description-team-span;
    }
  }
}