$font-first: 'raleway';
$font-second: 'lato';
$font-third: 'MgOpenModataOblique';


$color-bg-header: rgba(0, 0, 0, 0.5);
$color-bg-services-text: rgba(0, 0, 0, 0.1);
$color-placeholder-portfolio: rgba(0, 0, 0, 0.9);
$color-placeholder-portfolio-hover: rgba(0, 0, 0, 0);
$color-first-a: rgba(255, 0, 54, 0.1);
$color-first: #ff0036;
$color-nav-link: #a4a4a4;
$color-section-text: #a4a4a4;
$color-text-logo: #fff;
$color-white-global: #fff;
$color-bg-section-first: #fff;
$color-bg-acardion: #f7f7f7;
$color-border-info-table: #e7e7e7;
$color-icons-blog: #a2a2a2;
$color-button-slider: #131313;
$color-bg-logo: #131313;
$color-bg-section-second: #262626;
$color-about-heading: #262626;
$color-box-span: #292626;
$color-h5-blog: #2e2e2e;
$color-icons-bg-next: #f2f2f2;
$color-paragraph: #505050;

